body {
  background: #ebf5fe;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Arial", sans-serif;
  font-size: 13px;
}

a {
  color: #5F8FAF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: normal;
  line-height: 23px;
  margin: 0 0 20px 0;
}

p:last-child {
  margin: 0;
}

h1, h2 {
  border-bottom: 1px solid #eee;
  color: #5F8FAF;
  -webkit-font-smoothing: antialiased;
  padding: 0 0 5px 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

h1 {
  font-size: 23px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

form p {
  margin: 0 0 12px 0;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin: 0 12px 0 0;
}

label span {
  float: right;
}

label.error {
  color: #bd5e55;
  font-size: 13px;
  font-weight: bold;
}

label + input[type='text'] {
  display: block;
  margin: 4px 0 0 0;
}

input[type='text'] {
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #424242;
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
  font-size: 13px;
  outline: none;
  padding: 6px;
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  -webkit-transition: border 0.2s linear, -webkit-box-shadow 0.2s linear;
  width: 100%;
}

input[type='text']:focus {
  border: 1px solid #80bfff;
  -moz-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, 0.15) inset;
}

input[type='text'].error {
  border: 1px solid #bd5e55;
  -moz-box-shadow: 0 0 3px #bd5e55, 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 0 3px #bd5e55, 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 3px #bd5e55, 0 1px 2px rgba(0, 0, 0, 0.15) inset;
}

div.main {
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
  padding: 20px;
}

div.adapter {
  line-height: 20px;
  margin: 10px 0;
}

div.adapter:last-child {
  margin: 0;
}

div.adapter-vars {
  display: none;
}

div.beta {
  position: relative;
  padding: 7px 11px;
  margin-bottom: 18px;
  color: #404040;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-image: none;
  background-color: #fdf5d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: #fceec1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

div.footer {
  font-size: 10px;
  margin: 8px 0;
  text-align: center;
}
