<div class="main grid_8 push_2">

  <h1>Your Hubot is Being Built!</h1>

  <p>
    Congratulations your Hubot, <strong>{{hubot_name}}</strong> is being built
    and will then be deployed to Heroku and transferred to the account with the
    email, <strong>{{email}}</strong>.
  </p>

  <p>
    We will send an email to <strong>{{email}}</strong> when your Hubot has
    been deployed and any further instructions.
  </p>

</div>
