<h1>Your Hubot is Being Built!</h1>

<p>
  Thanks for using the Hubot Factory. Your Hubot
  <strong>{{hubot_name}}</strong> will be assembled and deployed as soon as
  possible. It will also be transferred to your Heroku account.
</p>

<p>
  We will send an email to <strong>{{email}}</strong> when your Hubot is
  ready and waiting for you to use. Once again thanks for using the service
  and make sure to tell your friends!
</p>
