<h1>Oops! Error</h1>

<p>
  Wow, you've just witnessed a Hubot explode! Please wait a while before trying
  to do what you were doing again.
</p>

<p>
  We've been notified of the lost of the mini-Hubot!
</p>
