<div class="main grid_8 push_2">

  <h1>Build and Deploy a Hubot</h1>

  <p>
    Want to run your own Hubot? Want to do it as fast as possible? Just fill
    out the few fields here and we will do all of the heavy lifting for you.
  </p>

  <p>
    When your Hubot has been built and deployed, which includes transferring it
    to your Heroku account. We will send you a notification to the email of the
    Heroku account. This email may also include final instructions for you to
    get your Hubot up and running.
  </p>

  <form action="/build" id="build-hubot" method="post">

    <h2>Heroku Details</h2>

    <p>
      We will create the Heroku application, push your Hubot robot to Heroku.
      Then we will transfer the application to your account that belongs to the
      email below.
    </p>

    <p>
      <label for="email">Your Email:</label>
      <input type="text" name="email" placeholder="hubot@example.com" />
    </p>

    <h2>About Your Hubot</h2>

    <p>
      You will need to pick a name for your new Hubot. Your Hubot will respond
      to this name. You will be able to change this even after your Hubot is
      deployed, so don't worry if you change your mind!.
    </p>

    <p>
      <label for="name">Robot Name:</label>
      <input type="text" name="name" placeholder="Hubot" />
    </p>

    <p>
      You will need to pick an adapter that your new Hubot will use. This is
      where your Hubot will listen and respond to. Again you will be able to
      change this if you change your mind.
    </p>

    <p>
      <label for="adapter">
        Robot Adapter:
        <br />
        <input checked type="radio" name="adapter" value="campfire" /> Campfire<br />
        <input type="radio" name="adapter" value="email" /> Email<br />
        <input type="radio" name="adapter" value="groupme" /> GroupMe<br />
        <input type="radio" name="adapter" value="hipchat" /> HipChat<br />
        <input type="radio" name="adapter" value="irc" /> IRC<br />
        <input type="radio" name="adapter" value="twilio" /> Twilio<br />
        <input type="radio" name="adapter" value="xmpp" /> XMPP<br />
      </label>
    </p>

    <h2>Pick Your Hubot Scripts</h2>

    <p>
      <strong>Coming soon!</strong>
    </p>


    <!--
    <p>
      You will need to pick and mix some scripts that your Hubot will use to
      decide what to listen and respond with. You will be able to change these
      in the <strong>hubot-scripts.json</strong> at any point.
    </p>

    {{#hubot_scripts}}
    <p>
      <label>
        <input checked name="scripts[]" type="checkbox" value="{{to_s}}">
        {{to_s}}.coffee
      </label>
    </p>
    {{/hubot_scripts}}
    -->

    <h2>Deploy Your Hubot!</h2>

    <p>
      We will create and deploy your Hubot to Heroku and notify you at the
      email you provided above once it is complete. You will still have to
      configure some variables.
    </p>

    <p>
      <input type="submit" name="submit" value="Build & Deploy" />
    </p>
  </form>

  <script>

    $(function() {

      $("#build-hubot").validate({

        rules: {
          name: "required",
          email: {
            required: true,
            email: true
          }
        },
        messages: {
          name: "Oops! Your Hubot needs a name",
          email: {
            required: "Oop! We need your email to transfer the Heroku app to you"
          }
        }

      });

    });

  </script>
</div>
