<div class="hubot">
  <p>
    <a href="http://github.com"><img alt="Hubot" src="/images/hubot.png" /></a>
  </p>
  <p>
    <a href="http://hubot.github.com">Hubot from GitHub</a>
  </p>
</div>

<h1>Build and Deploy a Hubot</h1>

<p>
  Want to run your own <a href="http://hubot.github.com">Hubot</a>? Want to
  do it as fast as possible? Just fill out the few fields below and we will
  do all of the heavy lifting for you.
</p>

<p>
  When your Hubot has been built and deployed, which includes transferring it
  to your Heroku account. We will send you a notification to the email
  specified below.
</p>

<div class="beta">
  <p>
    <strong>Thanks for trying the public beta!</strong> Hubot Factory is still
    under active development and tweaking. If you come across issues when
    deploying your Hubot please email
    <a href="mailto:hello+hubot@tombell.org.uk">hello+hubot@tombell.org.uk</a>
  </p>
</div>

<form action="/build" id="build-hubot" method="post">

  <h2>Heroku Details</h2>

  <p>
    Your Hubot will need deploying to your Heroku account. Therefore we'll
    need the email associated with your Heroku account.
  </p>

  <p>
    <label for="email">Your Email:</label>
    <input type="text"placeholder="hubot@example.com" name="email" />
  </p>

  <h2>About Your Hubot</h2>

  <p>
    Your Hubot will need a name. This is what it will be programmed to listen
    for and respond to.
  </p>

  <p>
    <label for="name">Hubot Name:</label>
    <input type="text" placeholder="Hubot" name="name" />
  </p>

  <p>
    Your Hubot needs to be plugged into an adapter. This is the service it
    will listen and respond on.
  </p>

  <p>
    <label>Hubot Adapter</label>
  </p>

  <div class="beta">
    <p>
      If you don't see the adapter you would like to use on this list, please
      use the email above to say it's missing and we'll add it as soon as
      possible.
    </p>
  </div>

  {{#hubot_adapters}}

  <div class="adapter">

    <p>
      <label>
        <input name="adapter" type="radio" value="{{name.downcase}}" />
        {{name}}
      </label>
    </p>

    <div class="adapter-vars" id="adapter-{{name.downcase}}">

      {{#vars}}
      <p>
        <label>{{desc}}</label>
        <input name="adapter-{{name}}" placeholder="{{name}}" type="text" />
      </p>
      {{/vars}}

    </div>

  </div>

  {{/hubot_adapters}}

  <h2>Deploy Your Hubot!</h2>

  <p>
    That's it! Once you click <strong>Build &amp; Deploy</strong> we'll queue
    up your Hubot on the conveyor belt. As soon as it's built and deployed
    we will email to you let you know.
  </p>

  <p>
    <input type="submit" name="submit" value="Build & Deploy" />
  </p>
</form>
