<div class="main grid_8 push_2">

  <h1>Build and Deploy a Hubot</h1>

  <p>
    Want to run your own Hubot? Want to do it as fast as possible? Just fill
    out the few fields here and we will do all of the heavy lifting for you.
  </p>

  <p>
    When your Hubot has been built and deployed, which includes transferring it
    to your Heroku account. We will send you a notification to the email of the
    Heroku account. This email may also include final instructions for you to
    get your Hubot up and running.
  </p>

  <form action="/build" id="build-hubot" method="post">

    <h2>Heroku Details</h2>

    <p>
      Your Hubot will need to be transferred to your Heroku account. So please
      use the email associated with your Heroku account.
    </p>

    <p>
      <label for="email">Your Email:</label>
      <input type="text"  placeholder="hubot@example.com" name="email" />
    </p>

    <h2>About Your Hubot</h2>

    <p>
      Your Hubot will need it's own name. This is what it will be programmed
      to listen and respond to.
    </p>

    <p>
      <label for="name">Hubot Name:</label>
      <input type="text" placeholder="Hubot" name="name" />
    </p>

    <p>
      Your Hubot will need to live somewhere. Pick an adapter for your Hubot
      to use.
    </p>

    <p>
      <strong>Hubot Adapter:</strong>
    </p>

    {{#hubot_adapters}}

    <div class="adapter">

      <p>
        <label>
          <input name="adapter" type="radio" value="{{name.downcase}}" />
          {{name}}
        </label>
      </p>

      <div class="adapter-vars" id="adapter-{{name.downcase}}">

        {{#vars}}
        <p>
          <label>{{desc}} <span>{{name}}</span></label>
          <input name="adapter-{{name}}" type="text" />
        </p>
        {{/vars}}

      </div>

    </div>

    {{/hubot_adapters}}

    <h2>Deploy Your Hubot!</h2>

    <p>
      We will create and deploy your Hubot to Heroku and notify you at the
      email you provided above once it is complete. You will still have to
      configure some variables.
    </p>

    <p>
      <input type="submit" name="submit" value="Build & Deploy" />
    </p>
  </form>

  <script>
    $(function() {
      $("#build-hubot").validate({
        rules: {
          name: "required",
          email: {
            required: true,
            email: true
          },
        },
        messages: {
          name: "Oops! Your Hubot needs a name",
          email: {
            required: "Oops! We need your email to transfer the Heroku app to you"
          },
        }
      });

      $("input[name='adapter']").change(function() {
        name = $(this).val()
        $(".adapter-vars").slideUp(function() {
          $(this).hide();
        });
        $("#adapter-" + name).slideDown(function() {
          $(this).show();
        });
      });
    });
  </script>

</div>
