<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link href="/stylesheets/normalize.css" rel="stylesheet" type"text/css" />
    <link href="/stylesheets/960.css" rel="stylesheet" type"text/css" />
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css" />

    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="container_12">
      <div class="main grid_8 push_2">
        <p>
          <a href="/">Build</a> &middot; <a href="/about">About</a>
        </p>

        {{{yield}}}
      </div>
    </div>

    <div class="footer">
      Site Copyright &copy; 2011
      <a href="http://tombell.org.uk">Tom Bell</a>.
      Hubot and Hubot Image Copyright &copy; 2011
      <a href="http://hubot.github.com">GitHub, Inc</a>.
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4eb26ca1613f5d50ee000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
